---
import Section from "../Section/Section.astro";
---

<Section id="legal" class="legal">

    <div class="legal__wrapper">

        <h2>Mentions légales</h2>

        <section>

            <h3>Éditeur du site</h3>

            <p>

                Nom : <strong>Thierry Gauthier Consultant</strong><br />
                Statut : Travailleur indépendant<br />
                SIRET : 43768454100026<br />
                Email : <a href="mailto:contact@infotgc.fr">contact@infotgc.fr</a>

            </p>

        </section>

        <section>

            <h3>Hébergement</h3>

            <p>

                Le site est hébergé par :<br />
                <strong>À compléter</strong>

            </p>

        </section>

        <section>

            <h3>Propriété intellectuelle</h3>

            <p>

                L'ensemble des contenus présents sur ce site (textes, illustrations, logos, icônes, 
                photographies, code source…) sont protégés par le droit d'auteur.<br>
                Toute reproduction, totale ou partielle, sans autorisation préalable est interdite.

            </p>

        </section>

        <section>

            <h3>Responsabilité</h3>

            <p>

                Les informations diffusées sur ce site sont fournies à titre indicatif.<br>
                Malgré le soin apporté à leur rédaction, elles peuvent contenir des erreurs ou omissions.

            </p>

        </section>

    </div>

</Section>