<footer id="footer" class="footer">

  <div class="container footer__wrapper">

    <a href="#hero" data-link="hero" class="footer__logo">
      TGC
    </a>

    <a href="#contact" data-link="contact">
      Me contacter
    </a>

    <nav
      class="footer__links"
      aria-label="Navigation secondaire"
    >

      <a href="#legal" data-link="legal">
        Mentions légales
      </a>

<!--
      <a href="#">
        Politique de confidentialité
      </a>
-->

    </nav>

    <small class="footer__copyright">
      © 2026 TGC · Tous droits réservés
    </small>

  </div>

</footer>