/* =========================================
   FOOTER
========================================= */

.footer {
  border-top: 1px solid var(--color-border);
  background: var(--color-bg);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-md) 0;
}

.footer__links {
  display: flex;
  gap: var(--space-xl);
}

.footer__links a {
  color: var(--color-text-light);
  transition: color var(--transition);
}

.footer__links a:hover{
    color:var(--color-primary);
}

@media (max-width: 900px) {

  .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer__links {
    flex-direction: column;
    gap: 1rem;
  }

}